---
layout: page
title: portfolio
---
<style>
    body{
        background-color: white;
    }
    .wrapper{
            max-width: -webkit-calc(1200px - (50px * 2));
    max-width: calc(1200px - (50px * 2));
    }
    .site-nav{
        padding-right: 15px;
    }
    .project{
        height: 100%;
    }
    .thumbnail, .thumbnail a{
        height: 100%;
    }
    .thumbnail a span{
        bottom:7px;
    }
    section.parallax {
      position: relative;
      /*height: auto;*/
      padding: 180px 0px;
      /*background-position-y: 70%;*/
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      max-height: 300px;
    }

    section.parallax:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.30);
      z-index: 100;
      content: ' ';
      /*max-height: 300px;*/
        
    }

    section.parallax h3 {
      color: #fff;
      position: relative;
      z-index: 101;
      /*font-size: 2em;*/
      line-height: 1.25;
      /*font-weight: 600;*/
      text-align: center;
      vertical-align: middle; 
      text-transform: uppercase;
      padding-left: 10px;
    }
    section.parallax.parallax-demo {
      background-image: url("{{ site.baseurl }}/img/signWide.jpg");
      background-position: 10% 10%;
      max-height: 300px;

    }
</style>

<section class=" parallax parallax-demo">

    <div class="container col two" id="banner">
        
            <h3>
             I am a Developer and Designer living in New York, Ny.
            </h3>
        
       <!--  <img src="{{ site.baseurl }}/img/signWide.jpg" alt="" class="col three imG"> -->

    </div>

</section>


<section class="module content">

    {% for project in site.portfolio %}

    {% if project.redirect %}
    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}    
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>
    {% else %}

    <div class="project ">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}    
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <h4>{{ project.description }}</h4>
                <br/>
                <p>
                {% for tag in project.tags %}
                {{ tag }}
                {% endfor %}
                </p>
            </span>
            
            </a>
        </div>
    </div>

    {% endif %}

    {% endfor %}

</section>
