---
layout: page
title: portfolio
---
<style>
    body{
        background-color: #ddd;
    }
    .wrapper{
            max-width: -webkit-calc(1200px - (50px * 2));
    max-width: calc(1200px - (50px * 2));
    }
    .site-nav{
        padding-right: 15px;
    }
    .project{
        height: 370px;
    }
    .thumbnail, .thumbnail a{
        height: 348px;
    }
</style>
{% for project in site.portfolio %}

{% if project.redirect %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ project.redirect }}" target="_blank">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        </a>
    </div>
</div>
{% else %}

<div class="project ">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
        <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
            <br/>
            <p>{{ project.description }}</p>
        </span>
        
        </a>
    </div>
</div>

{% endif %}

{% endfor %}
