---
layout: page
title: portfolio
link: portfolio
---
<style>
    body{
        background-color: white;
    }
    .wrapper{
        max-width: -webkit-calc(1200px - (50px * 2));
        max-width: calc(1200px - (50px * 2));
    }
    .site-nav{
        padding-right: 15px;
    }
    .project{
        height: 100%;
    }
    .project .descrip{
        color: darkgray;
        text-align: center;
    }

    .thumbnail, .thumbnail a{
        height: 100%;
    }
    .thumbnail a span{
        bottom:7px;
    }
    section.parallax {
      position: relative;
      /*height: auto;*/
      padding: 180px 0px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      
    }

    section.parallax:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.10);
      background-image: url("{{ site.baseurl }}/img/squares.png");
      z-index: 100;
      content: ' ';
      
        
    }

    section.parallax h3 {
      color: #fefefe;
      position: relative;
      z-index: 101;
      line-height: 1.25;
      text-align: center;
      text-transform: uppercase;
      padding-left: 10px;
      margin-top: -12%;
    }
    section.parallax.parallax-one {
      background-image: url("{{ site.baseurl }}/img/signWide.jpg");
      background-position-y: 20%;
      max-height: 300px;

    }
</style>

<section class=" parallax parallax-one">

    <div class="container col two" id="banner">
        
            <h3>
             I am a Developer and Designer based in New York, Ny.
            </h3>
        
       <!--  <img src="{{ site.baseurl }}/img/signWide.jpg" alt="" class="col three imG"> -->

    </div>

</section>


<section class="module content" id="portfolio">


    {% for project in site.portfolio %}
    <!-- THIS IS NOT THE ELEMENT -->
    {% if project.redirect %}
    <div class="project">
        <div class="thumbnail">
            <a href="{{ project.redirect }}" target="_blank">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}    
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <p>{{ project.description }}</p>
            </span>
            </a>
        </div>
    </div>

    {% else %}
    <!-- THIS IS ** -->
    <div class="project ">
        <div class="thumbnail">
            <a href="{{ site.baseurl }}{{ project.url }}">
            {% if project.img %}
            <img class="thumbnail" src="{{ project.img }}"/>
            {% else %}
            <div class="thumbnail blankbox"></div>
            {% endif %}    
            <span>
                <h1>{{ project.title }}</h1>
                <br/>
                <!-- <h6>{{ project.description }}</h6>
                <br/> -->
                <p>
                {% for tag in project.tags %}
                {{ tag }}
                {% endfor %}
                </p>
            </span>
            
            </a>
        </div>
        <p class="descrip">
            {{ project.description }}
        </p>
    </div>

    {% endif %}

    {% endfor %}

</section>
