<header class="site-header">

  <div class="wrapper">
    <div class="name">
      <!-- <p>Paul Hiam</p> -->
      <a href="{{ site.url }}">Paul Hiam</a>
    </div>

    <nav class="site-nav">

      <div class="trigger">
        
        <!-- {{ site.title }} instead of blog -->

        {% for page in site.pages %}
          
          {% if page.link %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}#{{page.link}}">{{ page.link }}</a>
          {% else %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>


  </div>

</header>
